* {
	box-sizing: border-box;
}
body	{
	background-color: #1e1e1e;
	margin: 0;
}
.top-container	{
	padding: 30px;
	margin: 0;
	align-items: center;
	justify-content: center;
}
.navbar	{
	display: inline;
	background-color: #0e0e0ecf;
	text-align: center;
	outline-style: auto;
	outline-color: black;
}
ul {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 5px;
	padding-left: 12em;
	padding-right: 12rem;
	background-color: #0e0e0ecf;
}
.navbar li 	{
	display: inline;
	list-style-type: none;
	color: #f2f2f2;
	font-size: 20px;
	font-family: Hind guntur, sans-serif;
	letter-spacing: 2px;
	text-align: center;
	width: 100%;
	justify-content: space-around;
}
.navbar li:hover	{
	background-color: #e6e6e6;
	color: #1e1e1e;
}
.navbar li.active {
	background-color: #ffad33;
	color: #f2f2f2;
}
h1	{
	display: block;
	width: 100%;
	margin: 0;
	margin-top: 1.3rem;
	color: #f2f2f2;
	font-family: Cantarell, sans-serif;
	text-align: center;
	letter-spacing: 0.6rem;
	font-size: 4rem;
	text-transform: uppercase;
}
h2	{
	margin: 0;
	color: #f2f2f2;
	text-align: center;
	font-family: hind guntur, sans-serif;
	font-weight: lighter;
	font-size: 1rem;
	letter-spacing: 0.2rem;
	padding-bottom: 10px;
	width: 100%;
}
.image-frame {
	display: block;
	padding: 60px;
	padding-right: 30px;
}

img {
	width: inherit;
	object-fit: cover;
	height: 320px;
	border: solid #f2f2f2 1px;
	filter: grayscale(100%);
	display: block;
	margin-bottom: 60px;
}

img:hover {
	filter: unset;
}

.container	{
	max-width: 100%;
	height: auto;
	display: flex;
	padding: 20px;
	padding-top: 5px;
}

.text-container {
	background-color: #f7b527;
	margin-top: 60px;
	padding: 20px;
	height: fit-content;
	margin-right: 60px;
}

h3	{
	color: #f2f2f2;
	letter-spacing: 2px;
	font-family: Cantarell, sans-serif;
	font-size: 42px;
	text-align: center;
	text-transform: capitalize;
	align-items: center;
	margin: 0;
	margin-top: 10px;
}

p 	{
	font-size: 14px;
	font-family: source serif pro, serif;
	font-weight: lighter;
	text-align: justify;
}

footer	{
	border: solid black 1px;
	width: 100%;
	height: 100px;
	background-color: #0e0e0ecf;
	color: #808080;
	font-size: 16px;
	font-family: hind guntur, sans-serif;
	font-weight: lighter;
	text-align: center;
}

h6	{
	font-family: source serif pro, serif;
	font-size: 14px;
	text-align: center;
	font-weight: lighter;
}